ion-card {
    margin: 10px;
  }
  
  ion-card-header {
    text-align: center;
    
  }
  
  ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 1.2em;
    
  }
  
  ion-item {
    margin: 10px 0;
  }
  
  ion-label {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  ion-text {
    font-size: 1em;
    
  }
  